[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
flake8 = "*"
autopep8 = "*"

[packages]
django = "3.1.2"
djangorestframework = "3.12.1"
django-cors-headers = "3.5.0"
flake8 = "*"
django-rest-auth = {extras = ["with_social"], version = "*"}
pillow = "*"
django-allauth = "*"
psycopg2 = "*"
sendgrid = "*"

[requires]
python_version = "3.8"
