:root {
    --header: #094067;
    --primary: #3da9fc;
    --paragraph: #556474;
    --shade:  #e9e9e9
}


 .modal-header {
     font-size: 24px;
 }

 .modal-title {
     font-size: 24px;
     color: var(--header);
  }

  .modal-title2 {
      font-size: 24px;
      color: var(--header);
   }

 .modal-body {
     font-size: 16px;
     color: var(--header);
     text-align: left;
     padding: 50px;
 }
 .modal-p-text {
    font-size: 16px;
    color: var(--header);
    text-align: left;
    font-family: 'Noto Sans', sans-serif;
    margin: 0;
    padding-bottom: 20px;
 }



 .modal-footer {
     display: flex;
     justify-content: flex-start;
     text-align: left;
     background-color: #ebf6ff;
 }

 .checkbox {
  gap: 7px;
  margin-right: 19px;
  padding: 7px 10px;
   border: solid 1px var(--primary);
}

.tagid {
 color: var(--paragraph);
}
