.mapComponent {
    position: relative;
    width: 1090px;
    height: 480px;
    display: flex;
    left: -189px;
    flex-direction: row;
}

.mapLocationListContainer {
  width: 400px;
  height:450px;
  overflow-y: scroll;
  margin-left: 50px;
}

.mapLocationRectangles {
  width: 349px;
    height: 70px;
    border-radius: 3px;
    border: 2px solid#efefef;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.mapAddressName {
  font-family: 'Noto Sans';
  font-size: 16px;
  font-weight: 600; 
  color: #094067;
  margin: 0;
  line-height: normal;
  text-align: left;
  list-style-type: circle;
}

.mapAddressCircle {
  margin-right: 15px;
}

.mapAddress {
  font-family: 'Noto Serif';
  font-size: 15px;
  text-align: left;
  color: #094067;
  margin: 0px 0 12px 44px;
}

.mapBulletPoints {
  position: relative;
  height: 6.5px;
  width: 6.5px;
  left: 16px;
  top: -45px;
  border-radius: 50%;
  border: 2px solid#094067;
}

.locationButtons {
    position: absolute;
    width: 100%;
    opacity: 0;
    width: 349px;
    height: 70px;
    padding: 0;
}

.locationButtons:hover {
  cursor:pointer;
}