.NavBar {
    width: 100%;
    height: 158px;
    box-shadow: 0 4px 5px 1px 
        rgba(0, 0, 0, 0.05);
    background-color: #ffffff;
    white-space: nowrap;
    display: inline-block;
    top: 0;
    z-index:1;
    position: relative;
}

.topRow {
    display: flex;
    justify-content: center;
}

.Logo {
    position:relative;
    top: 29px;
    width: 40px;
    height: 40px;
    margin: 3px 15px 6px 30px;
}

.navbarLink {
    display: flex;
    justify-content: center;
}
 
.Home, .Topics, .tuftsResources, .communityResources, .sharewood, .newsletterArchives, .howCanHelp {
    border: none;
    font-size: 16px;
    text-decoration:none;
    background-color: transparent;
    width: max-content;
    line-height: normal;
    letter-spacing: normal;
    color: var(--paragraph-color);
    text-align: left;
    margin: 14px 30px;
}

.active {
    color:var(--header-color);
    display: inline-block;
    border: none;
    background-color: transparent;
    width: max-content;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    margin: 14px 30px;
    text-decoration:none;
    border-bottom:1px solid var(--header-color);
    padding-bottom:22px;
}

.FindResource {
    display: inline-block;
    color: var(--primary-color);
    border: solid 1px;
    background-color: transparent;
    width: max-content;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    margin: 30px 30px;
    padding: 10px 15px 10px 15px;
}

.Home:hover, .Topics:hover, .FindResource:hover {
    cursor: pointer;
}

.SearchBar {
    width: 80%;
    height: 30%;
    position: relative;
    border-radius: 3px;
    background-color:  #ffffff;
    border: none;
    color: var(--paragraph-color);
    vertical-align: middle;
    display: inline-block;

    background-color: #efefef;

}

.SearchBox {

    width: 35vw;
    height: 30%;
    position: relative;
    margin-top: 30px;
    background-color: #efefef;
    padding: 8px 10px ;
    border-radius: 3px;
    gap: 10px;

}

.Search img {
    position: relative;
    z-index:1;
    width: 20px;
    height: 20px;
    left:30px;
    top:30px;
    border-radius: 3px;
    /* vertical-align: middle; */
}

input::placeholder {
    width: 166px;
    height: 22px;
    margin: 0 0 0 15px;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color:var(--paragraph-color);
}