.NavBar {
    width: 1440px;
    height: 90px;
    padding: 25px 219px 13px 300px;
    box-shadow: 0 4px 17px -11px 
        rgba(0, 0, 0, 0.26);
    background-color: #ffffff;
    white-space: nowrap;
    display: inline-block;
    top: 0;
}

.Logo {
    vertical-align: middle;
    width: 40px;
    height: 40px;
    margin: 6px 60px 6px 0;
}

.Home {
    border: none;
    background-color: transparent;
    margin: 14px 30px 16px 60px;
    width: 47px;
    height: 22px;
    font-family: NotoSans;
    font-size: 16px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #555555;
    text-align: left;
}

.Topics {
    border: none;
    background-color: transparent;
    margin: 14px 30px 16px;
    width: 49px;
    height: 22px;
    font-family: NotoSans;
    font-size: 16px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #555555;
    text-align: left;
}

.FindResource {
    border: none;
    background-color: transparent;
    margin: 14px 45px 16px 30px;
    width: 193px;
    height: 22px;
    font-family: NotoSans;
    font-size: 16px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #555555;
}

.SearchBar {
    width: 346px;
    height: 52px;
    margin: 0 38px 0 45px;
    padding: 15px 132px 15px 45px;
    border-radius: 3px;
    background-color: #ececec;
    border: none;
    color: #555555;
    font-family: NotoSans;
    font-size: 16px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
}

.Search {
    position: relative;
    display: inline-block;
}

.Search img {
    position: absolute;
    width: 20px;
    height: 20px;
    margin: 0 1.5px 1.5px 0;
    top: 31px;
    left: 58px;
    border-radius: 3px;
}

input::placeholder {
    width: 166px;
    height: 22px;
    margin: 0 0 0 15px;
    font-family: NotoSans;
    font-size: 16px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #555555;
}