.postfeed {
    /* position:absolute; */
    display:flex;
    flex-direction:column;
    top:238px;
    left:585px;
    width:636px;
    height:fit-content;
}

.title {
  margin: 50px 0px 0px 134px;
  font-family: 'NotoSans';
  font-size: 24px;
  font-weight: bold;
  text-align: left;
  color: var(--header-color);
  position:relative;
}

.featuredPost {
    position:relative;
    top:-248px;
    left:-585px;
}

.smallerPosts {
    position:relative;
    margin: 20px 20px 20px 20px;
    top:-770px;
    left:-605px;
    border:none;
    display:block;
}

.allSmallerPosts {
    position:relative;
    margin: 20px 20px 0px 20px;
    border:none;
    display:block;
    top:-920px;
    left:-605px;
}