.form-post-composer {
  width: 50%;
  margin: 75px auto;
  text-align: left;
}

.editor {
  border: 1px solid var(--shade-color);
}

.form-label, .badge {
  font-family: 'Noto Sans', sans-serif;
}

.btn {
  background-color: white;
  color: #3CA9FC;
  border-color: #3CA9FC;
}

.delete-post-block {
  width: 50%;
  text-align: left;
  margin: 50px auto;
}

.btn-danger {
  color: #fff;
  background-color: #dc3545;
  border-color: #dc3545;
}

.dropdown-item:hover {
  background-color: #EBF6FF;
}

.badge-secondary.categoryBadge {
  background-color: #FFC008;
  margin-left: 1%;
  font-size: medium;
}

.badge-secondary.tagBadge {
  background-color: #FFC008;
  margin-left: 1%;
  font-size: small;
}


.badge-secondary.tagBadgeHover {
  background-color: #FFC008;
  margin-left: 1%;
  font-size: small;
  cursor: pointer;
}

.badge-secondary.tagBadgeHover:hover {
  background-color: #E0A700;
  opacity: 0.8; 
}

.badge-secondary.stickyBadge {
  background-color: #FFC008;
  margin-left: 1%;
  font-size: small;
}

.groupButtons {
  display: flex;
}

.addForm {
  display: flex;
}

.addButton {
  margin-left: 1%;
}

.submitButton {
  background-color: #3CA9FC;
  color: white;
  border-color: #3CA9FC;
  margin-left: 50%;
}

.addLocationsForm {
  width: 100% !important;
  margin: 0px;
  margin-top: 2%;
  border: 1px solid #ced4da;
  border-radius: 5px;
  padding: 2%;
}

.chooseFileButton {
  width: 100%;
  margin: 0px;
  border: 1px solid #ced4da;
  border-radius: 5px;
  padding: 1%;
  margin-right: 1%;
}