.signupForm {
    padding: 50px 0px 50px 0px;
    width: 40vw;
}
.nav-tabs {
    width: 40vw;
}

.email {
    padding: 2px 0px 2px 0px;
}

.password1 {
    padding: 2px 0px 2px 0px;
}

.password2 {
    padding: 2px 0px 10px 0px;
}

.submit {
    padding: 5px 5px 5px 5px;
}