:root {
    --header: #094067;
    --primary: #3da9fc;
    --paragraph: #556474;
    --shade:  #e9e9e9
}

.SmallerPostPreview {
  width: 636px;
  flex-direction: row;
  display: flex;
  height: fit-content;
  position: relative;
  border-radius: 3px;
  border: solid 1px var(--shade);
  padding: 21.5px;
}

.post-info {
  flex: 1 0;
  display: flex;
  flex-direction: column;
}

.PhotoPlaceHolder {
    width: 135px;
    height: 126px;
    background-color: var(--shade-color);
    text-align: center;
}

.Photo {
  width: 135px;
  height: 126px;
  text-align: center;
}

.DatePosted {
  font-family: 'Noto Sans', sans-serif;
  font-size: 16px;
  font-weight: 500;
  color: var(--paragraph);
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
}

.Title {
  font-size: 18px;
  color: var(--header);
  font-family: 'Noto Sans', sans-serif;
  text-align: left;
  font-weight: bold;
  display: block;
  margin-block-end: 1em;
}

.Tags {
  width: 443px;
  align-items: center;
  gap: 10px;
  white-space: nowrap;
  text-align: left;
  display: flex;
  flex-wrap: wrap;
}


.tagElemPost {
  width: 24;
  height: 19px;
  font-family: 'Noto Sans', sans-serif;
  font-size: 14px;
  font-weight: 100;
  text-align: left;
  margin: 0 10px 0 0;
  padding: 5px 5px 5px 5px;
  border-radius: 3px;
  border: solid 1px;
  border-color: #3da9fc;
  color: #3da9fc;
  background-color: white;
  text-decoration: none;
}

.PostContent {
  font-size: 15px;
  font-family: 'Noto Serif';
  font-size: 15px;
  font-weight: 500;
  color: var(--header-color);
  text-align: left;
}